/* Цвета */

$color_primary: #F7F9FA;
$color_text: #131318;
$color_text_secondary: #727272;
$color_blue: #003D6E;
$color_red: #E4172D;
$color_yellow: #EE780C;
$color_yellow_left: #e94d1a;

$color_blue_lighter: #4B8FC6;
$color_red_lighter: #E04354;
$color_yellow_lighter: #F2A660;

$color_fade_white: #6c8299;